@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

.pageNumbers {
  list-style: none;
  display: flex;
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: rgb(108, 76, 250);
  color: black;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: rgb(218, 0, 0);
  font-size: 1.5rem;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: rgb(102, 91, 197);
  color: black;
}
.pageNumbers li button:focus {
  outline: none;
}

.loadmore {
  background-color: #0bb7a7;
  color: #fff;
  font: 490 0.89vw Montserrat;
  border: 1px solid #0bb7a7;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000029;
  height: 2.3vw;
  width: 108px;
  cursor: pointer;
}
